tramp
auto-save-list
el-get
/url/cookies
/url/cache
eshell
session.*
abbrev_defs
ac-comphist.dat
mrb.pdf
mrb.tex
mrb.html
mrb.el
*.elc
*.el~
/secrets.el.gpg
/.org-id-locations
/.mc-lists.el
/licenses/*
/.achievements
/var/pcache/gh/gh-gist-api/mrvdb
/elpa/archives/*
/newsticker/*
/test.org
/.litable-lists.el
/.cask/
/elpa/
/gamify-stats
/image-dired/
/var/
