tramp
auto-save-list
el-get
/url/cookies
eshell
session.*
abbrev_defs
ac-comphist.dat
mrb.pdf
mrb.tex
mrb.html
mrb.el
*.elc
*.el~
/secrets.el.gpg
/.org-id-locations
/.mc-lists.el
/licenses/AGPL
/licenses/APACHE-2.0
/licenses/BOOST
/licenses/BSD
/licenses/BSD-new
/licenses/BSD-old
/licenses/FREEBSD
/licenses/GPL-2.0
/licenses/GPL-3.0
/licenses/LGPL
/licenses/MIT
